# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.myenv/
venv/
env/
.venv/

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Static uploads
app/static/images/*
!app/static/images/.gitkeep
